:root {
	--fab-bg: rgba(0, 0, 0, 0.1);
	--text: black;
	--bg: #f3f3f3;
	--surface-rgb: 220, 220, 220;
	--primary-rgb: 107, 199, 164;
}

html[data-theme='dark'] {
	--fab-bg: rgba(255, 255, 255, 0.1);
	--text: #eff3f6;
	--bg: #2d383e;
	--surface-rgb: 86, 93, 101;
}
